<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573983127263-jdnpro1kr1pbvbi9qlptnqlokhr4opus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573983127263-jdnpro1kr1pbvbi9qlptnqlokhr4opus</string>
	<key>API_KEY</key>
	<string>AIzaSyCrCy-PzzMg8zjuVDRtH7QezWD3jksvK4w</string>
	<key>GCM_SENDER_ID</key>
	<string>573983127263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gimbal.wecannes</string>
	<key>PROJECT_ID</key>
	<string>wecannes-49b04</string>
	<key>STORAGE_BUCKET</key>
	<string>wecannes-49b04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573983127263:ios:b70fdfc6370d1235f45b6a</string>
</dict>
</plist>