<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We will update you about points earned, places visited, and upcoming events.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>For Gimbal Beacons</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>For Gimbal Beacons</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>In order to have the best experience for the scavenger hunt, we will need acces to your location in the background.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to trigger scavenger events throughout the Cannes Festival.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to trigger scavenger events throughout the Cannes Festival.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>BeVietnamPro-ExtraLight.ttf</string>
	</array>
</dict>
</plist>
